
body{
    font-size: 14px;
}

.form-title {
    margin: 1rem auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}

.item-row {
    width: 100%;
    margin-bottom: 1rem;
    border: solid 1px #ccc;

    .item-title {
        width: 100%;
        padding: .25rem .5rem;
        background: #ddd;
        display: flex;
        align-items: center;

        &.required::after{
            content: "必須";
            margin-left: .5rem;
            padding: .12rem .25rem;
            background: red;
            color: white;
            font-size: .7rem;
            font-weight: 800;
            border-radius: .25rem;
        }
    }

    .item-content {
        padding: .25rem .5rem;
    }
}

.support-msg {
    margin: .25rem 0 .25rem;
    font-size: .8rem;
    color: #888;
    line-height: 1.3;
}


/************************
* インプット関連
************************/
.input-box {
    border-radius: .25rem;
    padding: .25rem .5rem;
    border: solid 1px #bcbcbc;

    &::placeholder{
        color: #ccc;
    }

    &.error {
        border: solid 1px red;
        background-color: #ffeeee;
    }
}

