
body {
    font-size: 14px;
}

.page-name {
    padding: .75rem 2rem;
    background: #ced7e8;
}

/************************
* 表関係
************************/
.list-tbl {
    thead {
        background: #061f65;
        color: white;

        & > tr > th{
            padding: .5rem .25rem;

            &:not(:last-child){
                border-right: 1px solid #e5e7eb;
            }
        }

    }
}

// データテーブル系のスタイル
div.dt-container {
    select.dt-input {
        padding-right: 3rem;
    }

    /* 上部の表示件数選択とページネーションを横並びにする */
    & > div:first-child {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 10px;
    }
}


/************************
* ボタン関係
************************/
.btn {
    padding: 0.5rem 1rem;
    display: inline-flex;
    align-items: center;
    transition-duration: 150ms;
    font-weight: 500;
    background-color: #2563EB;
    color: rgb(255 255 255 / 1);
    border-radius: 0.375rem;

    &:hover {
        background-color: #1239a6;
    }

    &.min {
        padding: 0.2rem .5rem;
        font-size: 0.9rem;
    }
}

/************************
* インプット関連
************************/
.input-box {
    border-radius: .25rem;
    padding: .25rem .5rem;
    border: solid 1px #8e8e8e;

    &::placeholder{
        color: #ccc;
    }
}

/************************
* その他
************************/
.contents-box {
    margin: 0 auto;
    background: white;
    border-radius: .5rem;
    box-shadow: 0 0 10px 0 #ababab;
    border: solid 1px #ccc;

    & > .contents-box-header {
        padding: .5rem 1rem;
        background: #061f65;
        color: white;
        font-weight: bold;
        font-size: 1.1rem;
        border-radius: .5rem .5rem 0 0;
    }

    & > .contents-box-body {
        padding: 1rem;
    }
}

.item-row {
    display: flex;

    & > .item-title {
        width: 250px;
        padding: .25rem 1rem;
        font-weight: bold;
        background: #dbe2f1;
        display: flex;
        align-items: center;
    }

    & > .item-contents {
        padding: .25rem;
        flex: 1;
    }

    // 連続する行のうち、最後以外に下マージンを付与
    &:not(:last-child) {
        margin-bottom: .75rem;
    }
}
