

.title-label {
    font-weight: 600;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    border-bottom: solid 1px #ccc;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

