
body {
    font-size: 14px;
    background: #fff2f2;
    overflow-x: hidden;
}

header {
    background: #390000;
}

.custom-container {
    width: 95%;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
}

.anchor-link {
    color: #390000;
    align-items: center;
    position: relative;
    padding: .15rem .35rem;

    // 常時うっすら下線
    background-image: linear-gradient(currentColor, currentColor);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100% 1px;

    // 境界線（上・右）
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        background: linear-gradient(currentColor, currentColor) 0 0 / 0% 1px no-repeat, // top
        linear-gradient(currentColor, currentColor) 100% 0 / 1px 0% no-repeat; // right
        transition: background-size .18s ease;
    }

    // 境界線（左）
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        background: linear-gradient(currentColor, currentColor) 0 100% / 1px 0% no-repeat; // left only
        transition: background-size .18s ease .12s; // 左は少し遅らせる
    }

    &:hover,
    &:focus-visible {
        background-size: 100% 1px; // 下線を少し太く
        outline: none;

        // 上・右を展開（下は描かない）
        &::before {
            background-size: 100% 1px, 1px 100%;
        }

        // 遅延後に左を展開
        &::after {
            background-size: 1px 100%;
        }
    }

}

.page-name-navigation {
    padding: .5rem 0;
    background: #ffd1d1;
    border-bottom: solid 1px #390000;
    display: flex;
    justify-content: center;
    align-items: center;

    .page-name {
        font-size: 1.2rem;
        font-weight: bold;
        min-width: 400px;
    }
}

/************************
* セッションメッセージ
************************/
.session-message-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    pointer-events: none;
}

.session-message {
    position: relative;
    right: -1000px;
    width: 90%;
    max-width: 1000px;
    margin: 1rem 8px 1rem auto;
    padding: .5rem .5rem .5rem 1rem;
    font-weight: 700;
    border-radius: 4px;
    pointer-events: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: right .2s;

    &.success {
        background-color: #dbefff;
        color: #1976D2;
        border: 2px solid #1976D2;
    }

    &.error {
        background-color: #ffe7e5;
        color: #f44336;
        border: 2px solid #d32f2f;
    }


    & > .session-close {
        background: none;
        font-size: 24px;
        line-height: 1;
        cursor: pointer;
        padding: 0;
        margin-left: 1rem;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.2s;

        &:hover {
            opacity: 0.7;
        }

        span {
            font-family: auto;
            display: block;
            color: inherit;
        }
    }

}


/************************
* 表関係
************************/
.list-tbl {
    thead {
        background: #390000;
        color: white;

        & > tr > th {
            padding: .5rem .25rem;
            text-align: center !important;

            &:not(:last-child) {
                border-right: 1px solid #e5e7eb;
            }
        }

    }

    tbody {
        & > tr {
            border-bottom: solid 1px #ccc;


            & > td {
                padding: .15rem .25rem;

                &:not(:last-child) {
                    border-right: 1px solid #e5e7eb;
                }
            }
        }
    }
}

// データテーブル系のスタイル
div.dt-container {
    select.dt-input {
        padding-right: 3rem !important;
    }

    /* 上部の表示件数選択とページネーションを横並びにする */
    & > div:first-child {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 10px;
    }
}


/************************
* ボタン関係
************************/
.btn {
    padding: 0.5rem 1rem;
    display: inline-flex;
    align-items: center;
    transition-duration: 150ms;
    font-weight: 500;
    background-color: #8a4242;
    color: rgb(255 255 255 / 1);
    white-space: nowrap;
    border-radius: 0.375rem;
    cursor: pointer;

    &:hover {
        background-color: #b88888;
    }

    &.min {
        padding: 0.2rem .5rem;
        font-size: 0.9rem;
    }
}

.delete-icon {
    // 赤色にする
    filter: brightness(0) saturate(100%) invert(21%) sepia(94%) saturate(7418%) hue-rotate(358deg) brightness(99%) contrast(118%);
}


/************************
* インプット関連
************************/
.input-box {
    border-radius: .25rem;
    padding: .25rem .5rem;
    border: solid 1px #ddd;

    &::placeholder {
        color: #ccc;
    }
}

// チェックボックス
.checkbox-content {
    padding: 0 .25rem;
    display: flex;
    justify-content: start;
    align-items: center;

    .checkbox {
        appearance: none;
        position: relative;
        width: 20px;
        height: 20px;
        border: 1px solid #bf819b;
        border-radius: 5px;
        cursor: pointer;

        &:checked {
            background-image: none !important;
            background-color: #bf819b;

            &::after {
                content: "";
                position: absolute;
                top: 4px;
                left: 2.5px;
                width: 13px;
                height: 8px;
                border-bottom: 3px solid #ffffff;
                border-left: 3px solid #ffffff;
                transform: rotate(-45deg);
            }
        }

        &:focus, [type='radio']:focus {
            --tw-ring-offset-shadow: none;
        }
    }

    .checkbox-item {
        cursor: pointer;
        padding: .25rem .5rem .25rem .25rem;
    }
}


// ラジオボタン
/* animations */
@keyframes radio-select {
    0% {
        transform: scale(0, 0);
    }
    65% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1, 1);
    }
}

/* styles */
$size: 20px;
.custom-radio {
    > input {
        display: none;
    }

    > input:checked + label .outside .inside {
        animation: radio-select 0.1s linear;
        transform: scale(1, 1);

        .no-transforms & {
            width: ($size - 10px);
            height: ($size - 10px);
        }
    }

    .radio-label {
        display: block;
        position: relative;
        padding: .25rem .5rem .25rem 23px;
        cursor: pointer;

        .outside {
            display: inline-block;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: calc(-#{$size} / 2);
            width: $size;
            height: $size;
            border: 1px solid #bf819b;
            border-radius: 50%;
            box-sizing: border-box;
            background: #F3F3F3;

            .inside {
                position: absolute;
                display: inline-block;
                border-radius: 50%;
                width: ($size - 10px);
                height: ($size - 10px);
                background: #bf819b;
                left: 4.2px;
                top: 4.2px;
                transform: scale(0, 0);

                .no-transforms & {
                    left: auto;
                    top: auto;
                    width: 0;
                    height: 0;
                }
            }
        }

    }
}


/************************
* その他
************************/
.contents-box {
    margin-right: auto;
    margin-left: auto;
    background: white;
    border-radius: .5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: solid 1px #ccc;

    & > .contents-box-header {
        padding: .5rem 1rem;
        background: #8a4242;
        color: white;
        font-weight: bold;
        font-size: 1.1rem;
        border-radius: .5rem .5rem 0 0;
    }

    & > .contents-box-body {
        padding: 1rem;
    }
}

.item-row {
    display: flex;
    min-height: 2rem;

    & > .item-title {
        width: 250px;
        padding: .25rem 1rem;
        font-weight: bold;
        background: #f1dbdb;
        display: flex;
        align-items: center;
    }

    & > .item-contents {
        flex-direction: column;
        align-items: start;
        padding: .25rem;
        flex: 1;
    }

    // 連続する行のうち、最後以外に下マージンを付与
    &:not(:last-child) {
        margin-bottom: .75rem;
    }
}

.form-item-detail-contents {
    margin: .5rem 0;

    .form-item-detail-title {
        margin-bottom: .25rem;
    }

    .form-item-detail-content {
        padding-left: .5rem;
    }
}



// 並び替え用ハンドル（3本線を縦に配置）
.sort-handle {
    display: inline-block;
    width: 20px;
    height: 16px;
    vertical-align: middle;
    cursor: grab;
    background: linear-gradient(#666 0 0) 0 0/20px 2px no-repeat,
    linear-gradient(#666 0 0) 0 7px/20px 2px no-repeat,
    linear-gradient(#666 0 0) 0 14px/20px 2px no-repeat;
}

.sort-handle:active {
    cursor: grabbing;
}


.support-msg {
    font-size: .8rem;
    color: #777;
}

