
.form-navigation {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: .25rem;

    & > a {
        padding: .25rem 1rem;
        border: solid 1px #8a4242;
        font-weight: 800;
        color: #8a4242;

        &.active {
            background: #8a4242;
            color: white;
        }
    }

    & > .no-link {
        padding: .25rem 1rem;
        border: solid 1px #8a4242;
        font-weight: 800;
        color: #8a4242;
    }
}

.preview-btn-area {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    gap: .25rem;
}
